{% extends 'front/layouts.html' %}
{% load crispy_forms_tags %}
{% load account %}
{% load socialaccount %}


{% block title %} Giriş {% endblock %}

{% block content %}


<section class="wrap__section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Form Login -->
                <form id='login_form' class="login"  method="post" action='{% url "account_login"%}'>
                    
                    {% csrf_token %}
                    <div class="card mx-auto" style="max-width: 380px;">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Sign in</h4>

                            <a class="btn btn-primary btn-block mb-4" href="{% provider_login_url  openid="https://www.google.com/accounts/o8/id" next="/success/url/" %" > <i class="fa fa-google"></i> &nbsp; Sign
                                in
                                with
                                Google</a>

                            {{form|crispy }}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login </button>
                            </div>
                        </div> <!-- card-body.// -->
                    </div> <!-- card .// -->
                </form>
                <p class="text-center mt-4">Hesabınız yok mu? <a href="{% url 'account_signup' %}">Kayıt Ol</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}